body {
	font-family: cantarell, sans-serif;
	padding: 3em 6em 3em 6em;
}

a, a:visited {
	text-decoration: none;
	color: #3465a4;
}
a:hover {
	text-decoration: underline;
	color: #729fcf;
}

h4 {
	color: #555753;
}

hr {
	color: #d3d7cf;
	background: #d3d7cf;
	border: none 0px;
	height: 1px;
	clear: both;
	margin: 2.0em 0em 2.0em 0em;
}


.keyword {
	font-weight : bold ;
	color : #4e9a06
}
.keywordsign {
	color : #4e9a06
}
.comment {
	color : #a1a39d
}
.constructor {
	color : #ce5c00
}
.type {
	color : #5C6585
}
.string {
	color : Maroon
}
.warning { color : Red ;
	font-weight : bold
}
.info {
	margin-left : 2em;
	margin-right: 3em ;
	padding-left: 1em;
	border-left: 4px solid #a1a39d
}

.param_info {
	margin-top: 4px;
	margin-left : 3em;
	margin-right : 3em
}
.code {
	color : #465F91 ;
}
.typetable {
	border-style : hidden
}
.paramstable {
	border-style : hidden ;
	padding: 5pt 5pt
}
table {
	border-collapse: collapse;
}
tr {
}

tr td.module {
	padding: 0.4em 1.2em 0.2em 1.8em;
	font-weight: bold;
	border-left: 2px solid #465F91;
	background: rgba(161,163,157,0.6); /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left,
					    rgba(161,163,157,0.6),
					    rgba(0, 0, 0, 0)); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right,
				       rgba(161,163,157,0.6),
				       rgba(0, 0, 0, 0)); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right,
	                                 rgba(161,163,157,0.6),
					 rgba(0, 0, 0, 0)); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right,
	                            rgba(161,163,157,0.6),
				    rgba(0, 0, 0, 0)); /* Standard syntax */
}
tr td.module:hover {
	background: rgba(0, 0, 0, 0);
}
tr td.module a:hover {
	text-decoration: none;
}
tr td div.info {
	border: none;
}
ul.indexlist {
	margin-left: 0;
	padding: 4px;
	list-style-type: none;
	float:right
}
ul.indexlist li {
	margin-left: 4px;
	padding: 4px;
	float:left;
	border-bottom: 1px solid #a1a39d
}
ul.indexlist li:hover {
	background: rgba(161,163,157,0.6); /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left,
					    rgba(161,163,157,0.6),
					    rgba(0, 0, 0, 0)); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right,
				       rgba(161,163,157,0.6),
				       rgba(0, 0, 0, 0)); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right,
	                                 rgba(161,163,157,0.6),
					 rgba(0, 0, 0, 0)); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right,
	                            rgba(161,163,157,0.6),
				    rgba(0, 0, 0, 0)); /* Standard syntax */

}
ul.indexlist li a:hover {
	text-decoration: none;
}
